.a {
    color: var(--pc-primary-color)
}

.a {
    margin: 0.1rem 0.2rem;
    padding: 0.4rem 1rem;
}

.a:active {
    background-color: var(--pc-active-color);
}

.a-db {
    display: block;
    width: 100%;
    height: 100%;
}