.button {
    padding: 0.4rem 0.6rem;
    border-radius: 0.2rem;
    border: 1px solid var(--pc-active-color);
    text-wrap: nowrap;
}

.button:active {
    background-color: var(--pc-active-color);
}

.input-full {
    padding: 1rem;
    width: 100%;
}