:root {
    --pc-primary-color: rgba(0, 0, 255, 1);
    --pc-success-color: rgba(0, 255, 0, 1);
    --pc-error-color: rgba(255, 0, 0, 1);
    --pc-info-color: rgba(255, 255, 0, 1);
    /* --pc-info-color: rgba(128, 0, 128, 1); */

    --pc-white: #fff;
    --pc-black: #000;

    --pc-active-color: #eee;
    --pc-border-color: #eee;
}

* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--pc-black)
}

.no-border {
    border: none;
}