.list {
    height: 100%;
}

.list li {
    padding: 0.4rem;
}

.list li a {
    padding: 0.4rem 1rem;
    display: block;
    border-radius: 0.4rem;
    cursor: pointer;
}

.list li a:hover {
    background-color: var(--pc-active-color);
}

.list li a:active {
    background-color: var(--pc-active-color);
}