:root {
    /* darkslateblue forestgreen crimson darkorange*/
    --pc-rgb: 72, 61, 139;
    /* --pc-rgb: 0, 128, 0; */
    --pc-primary-color: rgba(72, 61, 139, 1);
    /* --pc-success-color: rgba(34, 139, 34, 1); */
    --pc-error-color: rgba(220, 20, 60, 1);
    --pc-info-color: rgba(255, 140, 0, 1);
    /* --pc-info-color: rgba(128, 0, 128, 1); rgb(255, 140, 0) #ff8c00*/

    --pc-white: #fff;
    --pc-black: #000;


    --pc-active-color: #eee;

    --pc-dark-theme-color-1: #eee;
    /* 按钮激活色 pc端按钮hover色 header色 asider色 main色 */

    --pc-gap-small: 0.4rem;
    --pc-gap-medium: 0.6rem;
    --pc-gap-normal: 1rem;
    --pc-gap-large: 2rem;
    --pc-theme-switch-color: rgb(24, 24, 24);

    --pc-input-color: var(--pc-primary-color);
}

.light {
    --pc-success-color: rgb(215, 255, 215);
    --pc-warn-color: rgb(255, 234, 208);
    --pc-error-color: rgb(255, 234, 238);


    --pc-theme-color: #fff;
    --pc-theme-fs-color: #000;
    --pc-theme-fs-tint-color: #888;
    --pc-border-color: rgba(72, 61, 139, 0.2);
    --pc-theme-primary: rgba(var(--pc-rgb), 1);
    --pc-theme-tint-color: rgb(250, 250, 250);
    --pc-hover-color: rgba(var(--pc-rgb), 0.1);
    /* --pc-input-color: rgba(var(--pc-rgb), 0.1);
    --pc-input-hover-color: var(--pc-theme-color); */
}

.dark {
    --pc-success-color: rgb(10, 60, 10);
    --pc-theme-color: rgb(24, 24, 24);
    --pc-theme-fs-color: rgb(234, 234, 234);
    --pc-theme-fs-tint-color: #999;
    --pc-border-color: rgb(50, 50, 50);
    --pc-theme-tint-color: #555;
    --pc-theme-primary: rgba(var(--pc-rgb), 1);
    --pc-hover-color: rgba(var(--pc-rgb), 0.6);

    --pc-success-color: rgb(28, 34, 28);
    --pc-warn-color: rgb(60, 36, 6);
    /* --pc-error-color: rgb(60, 4, 16); */
    --pc-error-color: rgb(32, 3, 9);
}

* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--pc-theme-fs-color);
    outline: 1px solid var(--pc-border-color);
}

a {
    text-decoration: none;
    color: var(--pc-theme-fs-color);
}