html,
body,
#app {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--pc-theme-color);
    color: var(--pc-theme-fs-color);
}

.df-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.df-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dg-c {
    display: grid;
    grid-template-columns: auto 1fr;
}

.list a {
    display: block;
    padding: var(--pc-gap-normal);
    overflow: hidden;
}

.list li:hover {
    background-color: var(--pc-hover-color);
    color: var(--pc-theme-fs-color)
}

.list .list-item {
    padding: var(--pc-gap-normal);
    border-bottom: 1px solid var(--pc-border-color);
}

.button {
    padding: var(--pc-gap-medium);
    border-radius: var(--pc-gap);
}

.button:hover {
    background-color: var(--pc-hover-color);
}

@media (prefers-color-scheme: light) {
    html {
        --pc-theme-color: #fff;
        --pc-theme-fs-color: #000;
        --pc-hover-color: #eee;
        --pc-active-color: #eee;
        --pc-border-color: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --pc-theme-color: rgb(24, 24, 24);
        --pc-theme-fs-color: rgb(234, 234, 234);
        --pc-hover-color: rgb(66, 66, 66);
        --pc-border-color: rgb(50, 50, 50);
    }
}